.body {
    background-color: #187ADEFF;
    margin: 0 5px 0 5px;
}

.header {
    background-color: #4444dd;
    padding: 10px;
    margin: 5px 0 0 0;
}

.main {
    background-color: #187ADEFF;
    width: 100%;
}

.footer {
    background-color: #4444dd;
    padding: 10px;
}
