nav {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #1CC5FA;
    text-indent: 0;
    letter-spacing: 1px;
}

a {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #1CC5FA;
    text-indent: 0;
    letter-spacing: 1px;
}

ul {
    font-size: 20px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #000000;
    text-indent: 0;
    letter-spacing: 0;
}

ul li a {
    font-size: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #34ff5e;
    text-indent: 0;
    letter-spacing: 0;
}


.firstHeader {
    font-size: 35px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    text-align: left;
    color: #000000;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
}

.secondHeader {
    font-size: 25px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
}

.quote {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-indent: 15px;
    letter-spacing: 0;
    text-decoration: underline;
}

.text {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #000000;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
}
